body {
    background-image: url("https://wallpaperplay.com/walls/full/3/1/f/86850.jpg");
    background-size: 100%;
}
button {
    cursor: pointer;
}
button:focus {
    outline: 0;
}
#frame {
    max-width: 500px;
}
#nav {
    padding: 10px 0;
}
.btn-nav, .btn-nav-curr {
    width: 120px;
    height: 40px;
    border: none;
    font-size: 20px;
    color: white;
}
.btn-nav {
    background-color: #A39280;
}
.btn-nav:hover, .btn-nav-curr {
    background-color: #6993A6;
}
input[type=text] {
    width: 75%;
    font-size: 15px;
}
input[type=submit] {
    width: 21%;
    font-size: 15px;
}
#todos {
    list-style-type: none;
    padding: 0;
}
li.completed-todo, li.active-todo {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    background-color: white;
    box-shadow: 2px 2px gray;
    border-radius: 5px
}
li.completed-todo {
    text-decoration: line-through;
    color: gray;
}
.btn-del {
    -webkit-appearance: none;
    border: none;
    outline: none;
    color: red;
    font-size: 20px;
    background-color: transparent;
    float: right;
}
