<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
</head>
<body onload="initApp()">
    <div id="frame">
        <div id="nav">
            <button class="btn-nav">All</button>
            <button class="btn-nav">Active</button>
            <button class="btn-nav">Completed</button>
            <button class="btn-nav">Reset</button>
        </div>
        <div>
            <form id="form">
                <input id="new-todo" type="text" placeholder="Create a todo..." />
                <input type="submit" value="Create" />
            </form>
        </div>
        <div>
            <ul id="todos"></ul>
        </div>
    </div>
    <script src="../static/js/index.js"></script>
</body>